.root {
  position: relative;
}

.tools {
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;

  opacity: 0;
  background-color: var(--bg);
}

.root:hover .tools,
.root:focus-within .tools {
  opacity: 1;
}

.body p {
  text-wrap: pretty;
}

.body p > img,
.body p > picture,
.body p > video,
.body p > canvas,
.body p > svg {
  display: block;
  max-inline-size: 100%;
  margin: 1rem auto;
}

.alignStart p {
  text-align: start;
}

.alignCenter p {
  text-align: center;
}
