.root {
  composes: focusRing from "./styles.module.css";

  cursor: pointer;

  display: grid;
  flex-shrink: 0;
  place-items: center;

  inline-size: 1rem;
  block-size: 1rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;

  background-color: var(--bg);

  &[data-state="checked"] {
    border-color: var(--accent);
    color: var(--bg);
    background-color: var(--accent);
  }

  &[data-disabled] {
    cursor: default;
    opacity: 0.4;
  }
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
