.root {
  composes: controlShell focusRing disabledControl from "./styles.module.css";

  cursor: text;

  inline-size: 100%;
  block-size: 2rem;
  margin: 0;
  padding: 0 0.5em;

  &::placeholder {
    color: var(--text);
    opacity: 0.4;
  }
}
