.header {
  margin: 1rem 0;
  border-block-end: 1px solid var(--border);
  font-weight: 200;
  text-align: center;
}

.section {
  margin: 1rem 0;
  text-align: center;
}

.section + .header {
  margin-block-start: 3rem;
}
